        body {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: 'Montserrat', sans-serif;
        }
        
        #showcase {
            height: 60vh;
            background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url("https://picsum.photos/900/601");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        
        #showcase nav {
            background-color: rgba(0, 0, 0, 0.4);
            box-shadow: 1px 1px 4px rgba(22, 22, 22, 1);
            padding: 13px 0;
        }
        
        #showcase nav ul {
            list-style: none;
            display: flex;
            justify-content: flex-end;
        }
        
        #showcase nav ul li {
            margin-right: 15px;
        }
        
        #showcase nav ul li a {
            color: white;
            font-size: 15px;
            font-weight: 600;
            transition: all 1s;
            position: relative;
        }
        
        #showcase nav ul li a:hover {
            text-decoration: none;
            color: crimson;
        }
        
        #showcase .bienvenue {
            min-height: 75%;
            text-align: center;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-direction: column;
        }
        
        #showcase .bienvenue .txt p {
            color: white;
            font-size: 25px;
            font-weight: 700;
            padding: 5px;
        }
        
        #showcase .bienvenue .btn button {
            width: 155px;
            font-size: 16px;
            margin: 3px 3px;
            padding: 8px 5px;
        }
        /*marge pour les sections*/
        
        section {
            margin: 40px 0px;
        }
        
        #services .serv {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        
        #services .fa-comment-dollar {
            margin: 5px 0;
        }
        
        #services h3 {
            margin: 5px 0;
        }
        
        #services .fa-dev {
            margin: 5px 0;
        }
        
        #services .fa-code {
            margin: 5px 0;
        }
        
        #cta .cta-img {
            height: 25vh;
            background-color: blue;
            background-image: linear-gradient(360deg, rgba(0, 52, 0, 0.7), rgba(0, 0, 0, 0.2)), url("https://picsum.photos/900/603");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            padding: 10px;
        }
        
        #cta .cta-img .container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        
        #cta .cta-img .container p {
            font-size: 23x;
            font-weight: 600;
            text-align: center;
            color: white;
            padding: 5px;
            margin-top: 20px;
        }
        
        #cta .cta-img .container .btn {
            padding: 12px 40px;
            font-size: 19px;
        }
        
        #gallery .container {
            text-align: center;
        }
        
        #gallery .container h2 {
            font-size: 32px;
            margin-bottom: 32px;
        }
        
        #gallery .container img {
            width: 100%;
            margin-bottom: 22px;
        }
        
        #cta2 .cta-img {
            height: 25vh;
            background-color: blue;
            background-image: linear-gradient(360deg, rgba(0, 52, 0, 0.7), rgba(0, 0, 0, 0.2)), url("https://picsum.photos/900/653");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            padding: 10px;
        }
        
        #cta2 .cta-img .container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        
        #cta2 .cta-img .container p {
            font-size: 23x;
            font-weight: 600;
            text-align: center;
            color: white;
            padding: 5px;
            margin-top: 20px;
        }
        
        #cta2 .cta-img .container .btn {
            padding: 12px 40px;
            font-size: 19px;
        }
        
        #testimonial .container h2 {
            text-align: center;
            margin-bottom: 20px;
        }
        
        #testimonial .container .owl-carousel .item {
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        #testimonial .container .owl-carousel .item img {
            height: 100px;
            width: 100px;
            border-radius: 50%;
        }
        
        #testimonial .container .owl-carousel .item .star {
            margin: 15px 0;
        }
        
        #testimonial .container .owl-carousel .item .star .fa-star {
            color: gold;
        }
        
        #testimonial .container .owl-carousel .owl-dots {
            color: goldenrod;
            padding: 10px;
            align-items: center;
        }
        /*style pour le flooter*/
        
        footer {
            background-color: rgba(216, 207, 207, 0.7);
            height: 20vh;
        }
        
        footer .container .copyright {
            align-items: flex-end;
            font-size: 20px;
        }



<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">